$button-submit-background: #52CF4F;
$button-submit-background-disabled: #AFAFAF;
$button-edit-background-color: #4B51EF;
$user-info-color: #A3A3A3;
$user-box-shadow: rgba(0, 0, 0, 0.164);
$sort-background-color: #94adc5;
$sort-rule-background-color: #4B51EF;
$form-input-border: #9b9b9b;
$form-information-border: #F3F3F3;